/*
**********************************************************************
Title: Navigation CSS Page
Use: This page contains CSS for my Home, Resume, and Accomplishment pages.
Author: Aubrey Tharp
School/Term:University of Missouri-Columbia,Summer 2020
Developed: July 2, 2020
CSS Validataed: July 22, 2020
Tested: July 22, 2020; Passed on Chrome, Safari, and Firefox browsers.
**********************************************************************
*/

nav{
    width: 100%;
    line-height: 20px;
    background-color: #FDAB9F;
    padding: 0;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

nav p{
    font-family: "Jost", "helvetica", "arial";
    line-height: 20px;
    float: left;
    padding: 20px 15px;
    color: #000000;
    font-size: 22pt;
    margin: 0;
}


nav p a{
    text-decoration: none;
}

nav>ul{
    float: right;
    margin: 0;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
    padding: 0px 5px;
    margin: 0;
}

nav #breadcrumbs{
    text-decoration: underline;
}

nav ul li a{
    display: block;
    font-family: "Jost", "helvetica", "arial";
    color: #000000;
    font-size: 13pt;
    padding: 20px 15px;
    text-decoration: none;
    margin: 0;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #ABAAA8;
    border-radius: 0px 0px 4px 4px;
    padding: 0px;
}

nav ul li a:hover{
    background-color: #EFD2CD;
    font-weight: bold;
}

nav li:hover a{
    background-color: #EFD2CD;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li{
    width: 100px;
    border-radius: 4px;
    padding: 0px;
}

nav ul li ul li a{
    padding: 16px 14px;
}

nav ul li ul li a:hover{
    background-color: #DEDEDC;
}

nav #hamburger{
    margin: 0 15px 0 0; 
    padding: 0 15px 0 0;
    font-size: 20px;
    line-height: 70px;
    display: none;
    float: right;
    width: 25px;
    }

nav a:link, a:active, a:visited, a:hover, a:focus{
    color: #000000;
}

@media only screen and (max-width: 1152px){
    nav #hamburger{
        display: inline-block;
        cursor: pointer;
        line-height: 40px;
        width: 25px;
        padding: 5px;
    }
    
    nav{
        position: absolute;
        width: 100%;
        position: fixed;
    }
    
    nav p{
        font-size: 18pt;
        padding: 5px;
    }
    
    nav ul, nav:active ul{
        display: none;
        position: absolute;
        padding: 20px;
        right: 10px;
        top: 0px;
        width: 25%;
    }
    
    nav:hover ul{
        display: block;
    }
    
    .menu{
        margin-top: 20px;
    }
    
    nav ul li ul li{
        display: none;
    }
    
    nav li{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    nav ul li{
        text-align: left;
        font-weight: bold;
        color: #000000;
        float: right;
        line-height: 25%
    }
    
    nav a{
        text-decoration: none;
        display: inline-block;
        border: 1px solid black;
        padding: 15px 0px 15px 35px;
        width: 240px;
        margin-bottom: 2px;
        background-color: #ABAAA8;
    }
    
    #title a{
        border: none;
        line-height: 40px;
        margin: 0;
        padding: 0;
        background-color: #FDAB9F;
    }
    
    nav ul li ul:active{
        display: none;
    }
}