/*
**********************************************************************
Title: Style CSS Page
Use: This page contains CSS for my Home, Resume, and Accomplishment pages.
Author: Aubrey Tharp
School/Term:University of Missouri-Columbia,Summer 2020
Developed: July 20, 2020
CSS Validataed: July 22, 2020
Tested: July 22, 2020; Passed on Chrome, Safari, and Firefox browsers.
**********************************************************************
*/

@media print{
    body{
        background-color: #ffffff;
    }
    nav
    {
        display: none;
    }
    
     #background{
        color: #000000;
        font-size: 35pt;
        line-height: 40pt;
        margin: 0 0 20pt;
        padding: 0;
        border: none;
        background-image: none;
        background-color: #ffffff
    }
    
    header>p{
        display: none;
    }
    
    .content{
        color: #000000;
        font-size: 16pt;
        line-height: 20pt;
        margin: 0 0 20pt;
        padding: 0;
    }
    
    img{
        height: 160pt;
        width: 120pt;
        padding: 0;
        border: none;
    }
   
   h3{
        font-size: 18pt;
        line-height: 20pt;
        padding: 0;
    }
    
    
    main{
        margin: 0;
        padding: 0;
        background-color: #ffffff;
    }
    
    .columns{
        display: inline;
        font-size: 16pt;
        font-size: 16pt;
    }
    
    #degrees{
        border-top: 1pt solid black;
        padding-top: 5pt;
        border-bottom: 1pt solid black;
    }
    
    footer{
        background-image: none;
        background-color: #ffffff
    }
    
    
    
}


