* {
    font-family: "arial", "helvetica", sans-serif;
}

body {
    background-color: #999999;
    margin: 15px;
}

h1 {
    color: #000000;
    font-family: "marker felt",fantasy;
    font-size: 32pt;
    text-align: center;
    border: 3px solid #000000;
    padding: 10px;
    background-color: #cc6699;
}

header p {
    text-align: center;
}

img {
    float: right;
    border: 2px solid #000000;
    margin: 30px;
}

h3 {
    color: #cc6600;
    font-size:24pt;
}

header, main, .section {
    font-size: 18pt;
}

section {
    border: 3px solid #000000
}
#undergrad{
    color: #336600;  
}

#masters{
    color: #333399;
}

#edsp{
    color: #663399;
}

#certification{
    color: #ff0066;
}

footer {
    font-size: 10pt;
    border-top: 3px dashed #000000;
    text-align: center;
}

a:link {
    color: #006666;
}
a:hover {
    color: #330066;
}
a:focus {
    color: #996633;
}
a:visited {
    color: #660099;
}
a:active {
    color: #ff6600;
}
a {
    text-decoration: none; 
    font-size: 10pt;
    color: #006666;
}