/*
**********************************************************************
Title: Style CSS Page
Use: This page contains CSS for my Home, Resume, and Accomplishment pages.
Author: Aubrey Tharp
School/Term:University of Missouri-Columbia,Summer 2020
Developed: June 27, 2020
CSS Validataed: July 9, 2020
Tested: July 9, 2020; Passed on Chrome, Safari, and Firefox browsers.
**********************************************************************
*/

* {
    font-family: "Quicksand", "helvetica", "arial";
    color: #1E212B;
}

body {
    background-color: #DDDDDD;
}


h1 {
    text-align: center;
    margin: 50px 0px;
    padding: 100px 0px 0px 0px;
    font-weight: bold;
    font-family: "helvetica", "arial";
    font-size: 40pt;
    background-color: #B6C2C5;
    height: 250px;
}

header p {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

h3 {
    font-size:24pt;
}

.content{
    background-color: #ffffff;
    margin: 30px;
    padding: 25px;
}

header, main, .section {
    font-size: 18pt;
}

footer {
    font-size: 10pt;
    border-top: 3px dashed #1E212B;
    text-align: center;
    padding-top: 5px;
}

a:link {
    color: #660066;
}
a:hover {
    color: #000066;
}
a:focus {
    color: #003366;
}
a:visited {
    color: #003300;
}
a:active {
    color: #663300;
}
footer a {
    text-decoration: none; 
    font-size: 10pt;
    color: #660066;
}